--- 
layout: default
title: Home
---

<div class="home">
  <div class="post-list">

    {% for post in paginator.posts %}
    <article class="post_card post">
      <header class="post_header">
        <h2 class="post_title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></h2>
        <time class="post_date">{{ post.date | date: "%d %B %Y, %A" }}</time>
      </header>
      <div class="post_excerpt">
        <p>
          {% if post.description %} {{ post.description}} {% else %} {{ post.excerpt }} {% endif %}
          <a class="read-more" href="{{ post.url | prepend: site.baseurl }}">READ MORE » </a>
        </p>
      </div>
      <hr/>
    </article>
    {% endfor %}

    {% include pagination.html %}
  </div>
</div>