<section class="author">
	<div class="authorimage box" style="background: url({{site.baseurl}}/assets/img/me.jpg)"></div>
	<div class="authorinfo box">
		<p>Author | Pat Hermens</p>
		<p class="bio">
			Public speaker, challenge addict, father, husband and (most of all) geek. 
      Interesting problems & inspiring solutions get me out of bed in the morning. 
      Currently a Lead .Net Developer at [Coolblue](https://coolblue.nl) in [Rotterdam, NL](https://www.google.nl/maps/place/Weena+664,+3012+Rotterdam/).
		</p>
	</div>
</section>