<section class="author">
	<div class="authorimage box" style="background: url({{site.baseurl}}/assets/img/me.jpg)"></div>
	<div class="authorinfo box">
		<p>Author | Pat Hermens</p>
		<p class="bio">
			Public speaker, challenge addict, father, husband and (most of all) geek. 
      Interesting problems &amp; inspiring solutions get me out of bed in the morning. 
      Currently a Lead .Net Developer at <a href="https://coolblue.nl">Coolblue</a> in <a href="https://www.google.nl/maps/place/Weena+664,+3012+Rotterdam/">Rotterdam, NL</a>.
		</p>
	</div>
</section>