<section class="author" itemscope itemtype="http://schema.org/Person">
	<div class="authorimage box" itemprop="image"></div>
	<div id="pat" class="authorinfo box">
		<p class="byline">Author | <a href="/about" rel="author"><span itemprop="name">Pat Hermens</span></a></p>
		<p class="bio">
			I'm Pat Hermens, an Australian that's spent a decent amount of time living & working in the Netherlands.
			I am a .NET developer (<em>for the last 20 years or so</em>), a technical manager, a public speaker,
			a happy husband and father, but most of all; <strong>I'm just a nerd.</strong><br />
			I'm currently a <span itemprop="jobTitle">Principal</span> at 
			<a href="https://www.slalombuild.com"><span itemprop="worksFor" itemscope itemtype="http://schema.org/Organization">Slalom Build</span></a>
			in <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress"><a href="https://www.google.com.au/maps/place/Sydney+Australia"><span itemprop="addressRegion">Sydney, Australia</span></a></span>, 
			and I was previously Development Manager at <a href="https://coolblue.nl">Coolblue</a> in Rotterdam, NL.
			<meta itemprop="homeLocation" content="Sydney, AU">
			<meta itemprop="sameAs" content="https://github.com/{{ site.github_username }}">
			<meta itemprop="sameAs" content="https://twitter.com/{{ site.twitter_username }}">
			<meta itemprop="sameAs" content="https://linkedin.com/in/{{ site.linkedin_username }}">
		</p>
	</div>
</section>
