<head>
  <style>html{visibility: hidden;opacity:0;}</style><!-- HACK to prevent FOUC: https://en.wikipedia.org/wiki/FOUC -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#696969">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="icon" href="/favicon.ico">
  
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url }}" media="none" onload="if(media!='all')media='all'">
  <noscript><link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | prepend: site.url }}"></noscript>
  
  <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous"></script>

  <script src="/js/md5.min.js" async></script>
  <script src="/js/comment-box.js" async></script>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="manifest" href="/manifest.json">

  <!-- meta tags for everything -->
{% include meta.html %}
</head>
