<header class="site-header">

  <h2 class="logo"><a href="{{ site.baseurl }}/">{{ site.title }}</a></h2>

  <div class="nav">
    <label for="menu-toggle" class="menu-icon"><i class="fas fa-bars fa-2x"></i></label><input type="checkbox" id="menu-toggle">
    <div class="site-nav">
      <nav>
        <ul class="page-link">
          <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
          <li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
          <li><a href="{{ "/speaking" | prepend: site.baseurl }}">Speaking</a></li>
          <li><a href="{{ "/archive" | prepend: site.baseurl }}">Archive</a></li>
          <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <img src="/assets/img/avatar_bw_small.png" class="avatar" alt="Black and white headshot of Pat Hermens" />

  {% include profilelinks.html %}
</header>