  <meta name="author" content="{{ site.title }}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{ site.twitter_username }}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}" />
  <meta name="twitter:image" content="{{ site.url }}{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}" />
  
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:title" content="{% if page.title %}{{ page.title | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
{% if page.image %}
  <meta property="og:image" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image:secure_url" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image:width" content="800">
  <meta property="og:image:height" content="400">
  <meta property="og:image:type" content="image/png">
{% endif %}
  <meta property="fb:profile_id" content="{{ site.facebook_username }}">
  <meta property="fb:admins" content="{{ site.facebook_username }}">