<div class="share">
    <div class="title left">
        <i class="fas fa-share-alt"></i> Liked it? Share it!
    </div>
    <div class="right">
        <a class="twitter" href="#" onclick="
            window.open(
                'https://twitter.com/intent/tweet?text=.@{{ site.twitter_username }}, thanks! I really enjoyed \'{{page.title }}\' ({{ page.url | prepend: site.url }})',
                'twitter-share-dialog',
                'width=600,height=260');
                return false;">
            <i class="fab fa-twitter-square fa-lg"></i> Tweet
        </a>
        <a class="facebook" href="#" onclick="
            window.open(
            'https://www.facebook.com/sharer/sharer.php?u={{ page.url | prepend: site.url }}',
            'facebook-share-dialog',
            'width=626,height=436');
            return false;">
            <i class="fab fa-facebook-square fa-lg"></i> Share
        </a>
    </div>
</div>