/* layout */
html, .container {
  position:relative;
  min-height:100%;
}

body {
  min-height:100%;
  height:auto;
}

.page-content {
    min-height:100%;
    box-sizing: border-box;
    height:auto;
}

.site-footer {
  bottom: 0;
  padding-bottom: 0rem;
  width:100%;

  /* footer style */    
  color: $grey-color;
  background-color: #FAFAFB;

  .left {
    a {
      color: $grey-color;
      border-bottom:1px dotted;
      text-decoration:none;
    }
    a:hover {
      color: $brand-color;
      border-bottom:1px dotted;
    }
  }
}

img.avatar, .authorimage {
  background: url(/assets/img/avatar_bw.jpg);
  background-repeat: no-repeat;
  //border: 1rem solid $border-color;
  border-radius: 5rem; /* 1rem + 1rem border */
  width: 10rem;
  height: 10rem;
  min-width: 10rem;
  min-height: 10rem;
  display:inline-block;
  -webkit-background-size: cover !important;
  background-size: cover !important;
  background-position: center center !important;
}

.logo {
  margin-bottom:12.5px;
  font-weight:$font-weight-bold;
}

.logo a:hover {
  color: $brand-color;
  text-decoration: none;
}

.nav {
  line-height: $base-line-height;

  .page-link {
    color: $brand-color;
    line-height: 1.3;
    display: block;
    padding: 0px;

    li {
      font-size:1.5rem;
      list-style:none;
      font-weight: 100;
      margin-bottom:1rem;
    }

    a:hover {
      text-decoration: none;
      color: $brand-color;
    }
  }
}

/* site-nav */

@include media-query($on-laptop) {
  .site-nav {

    /* flex box */
    display: -webkit-box; /* Chrome 4+, Safari 3.1, iOS Safari 3.2+ */
    display: -moz-box; /* Firefox 17- */
    display: -webkit-flex; /* Chrome 21+, Safari 6.1+, iOS Safari 7+, Opera 15/16 */
    display: -moz-flex; /* Firefox 18+ */
    display: -ms-flexbox; /* IE 10 */
    display: flex; /* Chrome 29+, Firefox 22+, IE 11+, Opera 12.1/17/18, Android 4.4+ */// Import partials from `sass_dir` (defaults to `_sass`)

    opacity: 0;
    height: 0;

    -webkit-justify-content: center;
    justify-content:center;

    @include media-query($on-laptop) {
      border-top:1px solid #ddd;
      border-bottom:1px solid #ddd;
    }
  }
  
  #menu-toggle:checked+.site-nav {
    opacity: 1;
    height: auto;
  }
}

input#menu-toggle {
  display:none;
}

.nav .menu-icon {
  display:none;
  position:absolute;
  right:5%;

  @include media-query($on-laptop) {
    top: 67px;

    @include media-query(400px) {
      top: 13px;
    }

    display: block;
    text-align: center;

    &:hover {
      > svg {
        path {
          fill: $grey-color;
        }
      }
    }

    > svg {
      width: 18px;
      height: 15px;

      path {
        fill: $grey-color-dark;
  } } }
}


.site-header {
  text-align:right;
  @include media-query($on-laptop){
    text-align: center;
    margin-bottom: 40px;
  }
  nav a {
    font-weight:400;
  }
}

.post {
  @extend .dont-break-out;
}

.post_header {
  margin-bottom:1rem;
}

.post_title {
  margin-bottom:0.5rem;
}

.post_date {
  color:$grey-color;
  font-size:1.4rem;
}

p.readmore {
  text-align:right;
}

.post_meta {
  .author_meta {
    img {
      height:24px;
      width:24px;
    }
  }
}

.article-content a,
.share a {
  border-bottom:1px dotted $brand-color;
  text-decoration:none;
}
.article-content a:hover,
.share a:hover {
  color:$brand-color;
  border-bottom:1px dotted $brand-color;
}

.article-footer {
  padding:2rem 0;
  border-top:1px solid #ddd;
  border-bottom:1px solid #ddd;
}


/* author info */
.author {
  @media (max-width: $on-laptop) {
    display:inline-block;
    text-align:center;
  }
}

.authorimage {
  @media (min-width: $on-laptop+1) {
    float:left;
  }
  margin: 0 1rem 1rem 0;
}

.authorinfo {
  .byline {
    visibility: hidden;
    display: none;
  }

  .bio {
    color: $grey-color;
    font-size: smaller;
  }
}


/* footer */
.footer {
  float:left;

  .last-built {
    font-size: 1rem;
  }
}

.left {
  text-align:center;
  float:left;

  @media (min-width: $on-laptop) {
    text-align:left;
  }
}

.right {
  text-align:center;
  float:right;

  @media (min-width: $on-laptop) {
    text-align:right;
  }

}

/* icon */
.icon {
  vertical-align: text-bottom;
  width: 2rem;
  color: $icon-color;

  &:hover {
    color: $brand-color;
  }
}

body.custom-background {
  background-image: url('/images/background.png');
  background-repeat: repeat;
  background-position: top left;
  background-attachment: scroll; }

/* Archive page */
.archive_list { 
  margin-left: 5%;
  width: 90%;
  margin-bottom: 3rem;
}

.category-name {
  padding-top: 20px;
  text-transform: lowercase;
  font-variant: small-caps;
  h2 {
   letter-spacing: 0;
   border-bottom: 1px solid #ddd;
  }
}

div.post_title span.date {
  font-size: 80%;
  color: $grey-color;
}

/* others */
.small-font {
  font-size: $small-font-size;
}

.profiles { 
  margin: 1rem 0;
}

/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}

/* Smaller than tablet */
@media (max-width: 750px) {}

/* Smaller than tablet */
@media (max-width: 550px) {}
