.pagination {
  text-align: center;
}

.pagination a, .pagination .disabled {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-radius: 0.1875em;
  border: 1px solid $border-color;
  color: $text-color;
  padding: 1em 1.5em;
}

.pagination .disabled {
  visibility: hidden;
}

.pagination .pagination-meta {
  color: $grey-color-light;
  overflow: hidden;
}

.pagination a:hover, .pagination a:focus {
  color: $brand-color;
}